{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-xl news-card">
    <h6 class="p-3 mb-0 border-bottom border-gray section-heading"><i class="fas fa-rss"></i> News</h6>
    <div class="px-3 pb-1 news-list">
        {% for year in news_by_year %}
        <div class="media py-2 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            <div class="mr-3 my-1 news-year">{{ year.name }}</div>
            <div class="media-body">
                {% for item in year.items %}
                <div class="d-flex news-item">
                    <div>{{ item.title }}</div>
                    <div class="ml-auto mt-auto text-muted no-break news-date">{{ item.date | date: "%b %d" }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
